[project]
name = "learning-pyinstaller"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pyside6>=6.10.2",
    "rich>=14.3.3",
]

[dependency-groups]
dev = [
    "pyinstaller>=6.18.0",
]
